{% extends 'blog/base.html' %}
{% block content %}
<form method="post" action="/logout/">
    {% csrf_token %}
    <input type="submit" name="submit" value="Log out" />
</form>
<div>
    {% if nouser %}
    <h1><b>{{nouser}}</b></h1>
    {% else %}
            <h1>Displaying {{uname}}'s Public Posts!</h1>
        {% for post in other_user_posts %}
        <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.status_choice }}</p>
        </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}